[package]
name = "borkle"
version = "0.1.0"
authors = ["johnm <trolledwoods@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ustr = "0.7.*"
bump_vec = { path = "bump_vec" }
